@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');

body {
    display: grid;
    justify-content: center;
    font-family: 'Baloo Bhaina 2', cursive;
    background-color: rgba(170, 255, 0, 0.4);
}

.square {
    height: 150px;
    width: 150px;
    border: solid;
    border-color: black;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 500px;
    height: 500px;
    justify-self: center;
    cursor: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/google/241/hammer_1f528.png"), auto;
}

.mole {
    background-image: url('https://www.pngitem.com/pimgs/m/239-2394216_groundhog-clipart-whack-a-mole-transparent-background-hole.png');
    background-size: cover;
}

.hit {
    background-image: url('https://i7.pngguru.com/preview/447/597/308/whac-a-mole-crappy-flappy-moles-android-video-game-android.jpg');
    background-size: cover;
}

#header {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#headline {
    display: flex;
    justify-content: space-around;
    margin-top: -15px; 
}

#start, #time {
    height: fit-content;
    margin-top: 20px;
    padding: 5px;
    font-family: 'Baloo Bhaina 2', cursive;
    font-weight: bolder;
    font-size: large;
    border: double;
    background-color: rgb(255, 255, 0,0.4);

}

#score-time {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
}


